header {
    height: 36px;
    padding: 26px 0;

    /* background-image: url(../img/png/background.png);
    background-size: cover;
    background-attachment: fixed;

    background-position: var(--bg-position); */
}